.company {
	display: none;

	@include desktop {
		display: block;
	}
}

.company__title {
	@include font(36px, null, 1.16, null);
	margin-bottom: 50px;
	text-align: center;
}

.gallery {
	display: flex;
	gap: 30px;
}

.gallery__box {
	position: relative;
	width: 100%;
	height: 294px;
}

.gallery__label {
	position: absolute;
	bottom: 0;

	width: 100%;
	height: 70px;
	background-color: rgba(47, 48, 58, 0.8);
}

.gallery__text {
	width: 100%;
	height: 100%;

	@include font(14px, null, 1.14, null);
	text-transform: uppercase;
	color: var(--secondary-title-color);
}
