.feature {
  padding-top: 60px;

  // padding-top: 94px;
}

.feature-list {
  margin-left: auto;
  margin-right: auto;
}

.feature-list__item {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 30px;

    // margin-right: 30px;
  }
}

.feature-list__icons {
  width: 100%;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--feature-bc-icons);
}

.feature-list__title {
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  @include font(14px, null, 1.14, null);
}

.feature-list__desc {
  color: var(--all-text-color);
  @include font(14px, null, 1.71, null);
}
