:root {
	--team-background-color: #f5f4fa;
	--primory-title-color: #212121;
	--nav-text-color: #212121;
	--button-text-color: #212121;
	--secondary-title-color: #ffffff;
	--accent-button-text-color: #ffffff;
	--address-text-color: #ffffff;
	--hero-background-color: #2f303a;
	--footer-background-color: #2f303a;
	--all-text-color: #757575;
	--secondary-logo-color: #000000;
	--footer-contact-color: rgba(255, 255, 255, 0.6);
	--footer-form-color: rgba(255, 255, 255, 0.6);
	--header-contact-color: #757575;
	--feature-bc-icons: #f5f4fa;
	--icon-primory-color: #afb1b8;
	--icon-secondary-color: #ffffff;
	--product-border-color: #eeeeee;
	--product-description-color: #ffffff;
	--accent-color: #2196f3;
	--light-accent-secondary: rgba(255, 255, 255, 0.8);
	--light-accent: rgba(33, 150, 243, 0.8);
	--placeholder-color: rgba(117, 117, 117, 0.5);
	/* animation */
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	--duration: 250ms;
}
